<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wuyou.merchant">

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".CarefreeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.AppStartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.companies.CompaniesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/NoSplitMotionEvents" />
        <activity
            android:name=".mvp.login.CaptchaInputActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.login.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.login.CompletingInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.login.PhoneInputActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.login.ResetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.wallet.TradeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.wallet.FundIntroduceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.message.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.wuyou.merchant"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.RongPushActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.wuyou.merchant"
                    android:pathPrefix="/push_message"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mvp.circle.CreateIntelligentContractActivity1"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".mvp.circle.CreateIntelligentContractActivity2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.store.StoreInfoEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.wallet.RepayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.wallet.RepayRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.wallet.LoanConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.wallet.LoanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.wallet.Loan2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.circle.ContractDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.wallet.CreditDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.order.ChoseArtisanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.circle.SelfFundActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".mvp.circle.SignContractActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.circle.ServeChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.circle.ContractPayChooseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.wallet.ContractTradeDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.store.CompanyInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.store.WorkerListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.store.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.store.CompanyInfoUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.order.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.order.VoucherUploadActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mvp.store.ModifyNickActivity" />
        <activity android:name=".mvp.store.ModifyPhoneActivity" />
        <activity android:name=".view.activity.WebActivity" />
        <activity android:name=".view.activity.HelpRobotActivity" />

        <meta-data
            android:name="WEIXIN_APP_ID"
            android:value="wxb60eda0adace922f" />

        <!--<provider-->
        <!--android:name="android.support.v4.content.FileProvider"-->
        <!--android:authorities=".FileProvider"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/rc_file_path" />-->
        <!--</provider>-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wuyou.merchant.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service android:name=".service.HelpChatService" />
        <receiver
            android:name=".mvp.message.MyNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>
        <provider
            android:name=".util.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource" />
        </provider>
    </application>

</manifest>